body {
    display: flex;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.media {
    min-width: 0;
    margin: 1px;
}

.head {
    display: flex;
    border: 2px;
    border-style: solid;
    flex-direction: column;
}